---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#228822">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="theme-color" content="#cdffcd">

  {% feed_meta %}

  <title>Avik Das</title>

  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
  <img id="avatar" src="/assets/images/headshot.jpg" width="256" height="256" />

  <ul id="external-sites">
    <li><a href="{{ site.author.linkedin }}"><img src="/assets/images/logo-linkedin.png" width="24" height="24" /></a></li>
    <li><a href="{{ site.author.github }}"><img src="/assets/images/logo-github.png" width="24" height="24" /></a></li>
    <li><a href="{{ site.author.twitter }}"><img src="/assets/images/logo-twitter.png" width="24" height="24" /></a></li>
  </ul>

  <h1 id="name">Avik Das</h1>

  <section id="hiring-for-tech">
    <p><a href="https://hiringfor.tech"><img src="/assets/images/logo-hiringfortech.png" width="64" height="64" /></a></p>
    <p>Looking for my weekly newsletter on all things tech hiring? Go to <a href="https://hiringfor.tech">HiringFor.Tech</a> for more details.</p>
  </section>

  <section id="blog-posts">
    <h2>Blog posts</h2>

    {% assign posts_by_year =
        site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

    {% for year in posts_by_year %}
    <h3>{{ year.name }}</h3>

    <ul>
      {% for post in year.items %}
      <a href="{{ post.url }}">
        <li>
          {% if post.cover-img %}
            <img class="cover-img" src="{{ post.cover-img }}" width="64" height="64" />
          {% else %}
            <span class="cover-img"></span>
          {% endif %}
          <span class="title">{{ post.title }}</span>
          <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </section>

  {% include analytics.html %}
</body>
</html>
