---
---

// SASS VARIABLES /////////////////////////////////////////////////////////////

$lighter-text-color: #666;
$body-padding: 20px;

// PAGE LAYOUT ////////////////////////////////////////////////////////////////

body {
  margin: auto;

  max-width: 48em;
  padding: $body-padding;
}

#post-date {
  text-align: center;
  color: $lighter-text-color;
}

// TEXT ///////////////////////////////////////////////////////////////////////

h1 { text-align: center; }
h1, h2, h3, h4, h5, h6 { font-family: sans-serif; }

p, ol, ul, pre { line-height: 1.4; }

hr {
  border: 0.5px solid #ccc;
  width: 50%;
  margin: 1em auto;
}

// IMAGES /////////////////////////////////////////////////////////////////////

figure {
  margin: 0;
  padding: 0;

  img {
    width: calc(100% + #{$body-padding * 2});
    margin: 0 0 0 #{-$body-padding};
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-size: .95em;
  }
}

// CODE SNIPPETS //////////////////////////////////////////////////////////////

pre {
  background: #eee;
  padding: $body-padding;

  overflow-x: auto;

  width: 100%;
  margin: 0 0 0 #{-$body-padding};
  padding: auto $body-padding;
}

// FOOTER /////////////////////////////////////////////////////////////////////

#thanks { color: $lighter-text-color; }
#bottom-links { text-align: center; }
