---
---

html {
  background: #fcfffc;
}

body {
  width: 384px;
  margin: 32px auto 32px;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: sans-serif;
}

#avatar {
  display: block;
  margin: 0 auto;

  border-radius: 32px;
}

#external-sites {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 256px;
  margin: 0 auto;
  padding: 0;
}

#external-sites li {
  list-style: none;
  margin: 0;
  padding: 16px;
  border-radius: 8px;

  &:hover {
    border: 1px dashed #020;
    margin: -1px; // compensate for the border
  }

  a {
    display: block;
    width: 64px;
    height: 64px;
  }
}

#hiring-for-tech {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 3px dashed #020;
  border-radius: 5px;

  margin: 16px 0;
  padding: 0 16px;
  background: #cdffcd;

  :first-child img {
    margin-right: 16px;
    flex-shrink: 1;
  }
}

#recent-posts ul {
  padding: 0;
  margin: 1em;

  li {
    list-style: none;
    margin-bottom: 1em;
  }
}
