---
---

$main-bg-color: #fcfffc;

html {
  background: $main-bg-color;
}

body {
  width: 384px;
  margin: 32px auto 32px;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: sans-serif;
}

#avatar {
  display: block;
  margin: 0 auto;

  border-radius: 8px;
}

#external-sites {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
  width: 96px;
  margin: -20px auto 0;
  padding: 0 4px;

  border-radius: 8px;
  background: $main-bg-color;

  li {
    list-style: none;
    margin: 0;
    padding: 8px 4px;

    a {
      display: block;
      width: 24px;
      height: 24px;

      transition: transform 0.1s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

#hiring-for-tech {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);

  margin: 16px 0;
  padding: 0 16px;
  background: #eee;

  :first-child img {
    margin-right: 16px;
    flex-shrink: 1;
  }
}

#blog-posts {
  h3 {
    &:before, &:after {
      content: "\2014";
      font-weight: normal;
      color: #aaa;

      display: inline-block;
      padding: 0 12px;
    }
  }

  ul {
    padding: 0;
    margin: 1em 0;

    li {
      list-style: none;
      margin-bottom: 1em;
    }
  }
}
