---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#cdffcd">

  {% feed_meta %}

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/blog.css">
  <link rel="stylesheet" href="/assets/css/syntax-github.css" media="(prefers-color-scheme: light)">
  <link rel="stylesheet" href="/assets/css/syntax-github-dark.css" media="(prefers-color-scheme: dark)">

  <!-- Social media metadata -->
  <meta property="og:title" content="{{ page.title }}">
  {% if page.cover-img %}
  <meta property="og:image" content="{{ site.url }}{{ page.cover-img }}">
  <meta property="twitter:card" content="summary_large_image">
  {% else %}
  <meta property="twitter:card" content="summary">
  {% endif %}
</head>
<body>
  <h1>{{ page.title}}</h1>

  <p id="post-date">{{ page.date | date: "%b %-d, %Y" }} &bull; <a href="/">Avik Das</a></p>

  {{ content }}

  {% if page.thanks.size == 1 %}
  <p id="thanks">Thanks to {{ page.thanks.first }}</p>
  {% elsif page.thanks.size > 1 %}
  <div id="thanks">
  <p>Thanks to:</p>
  <ul>
    {% for person in page.thanks %}
    <li>{{ person }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}

  <hr />

  <ul id="bottom-links">
    <li><a href="/">Home</a></li>
    <li><a href="{{ site.author.linkedin }}"><img src="/assets/images/logo-linkedin.png" width="24" height="24" /></a></li>
    <li>
      <a href="{{ site.author.github }}">
        <picture>
          <source srcset="/assets/images/logo-github-dark.png"  width="24" height="24" media="(prefers-color-scheme: light)">
          <source srcset="/assets/images/logo-github-light.png" width="24" height="24" media="(prefers-color-scheme: dark)">
          <img src="/assets/images/logo-github-dark.png" width="24" height="24">
        </picture>
      </a>
    </li>
    <li><a href="{{ site.author.twitter }}"><img src="/assets/images/logo-twitter.png" width="24" height="24" /></a></li>
    <li><a href="/feed.xml"><img src="/assets/images/logo-rss.png" width="24" height="24" /></a></li>
  </ul>

  {% if page.has_math %}

  {% comment %}
  Only include the MathJax Javascript if the post has math in it. The script is
  loaded from CDNJS in case it's already cached on the viewer's browser.
  {% endcomment %}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    async></script>
  {% endif %}

  {% include analytics.html %}
</body>
</html>
