---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#cdffcd">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/blog.css">
  <link rel="stylesheet" href="/assets/css/syntax-github.css">
</head>
<body>
  <h1>{{ page.title}}</h1>

  <p id="post-date">{{ page.date | date: "%b %-d, %Y" }} &bull; <a href="/">Avik Das</a></p>

  {{ content }}

  {% if page.thanks.size == 1 %}
  <p id="thanks">Thanks to {{ page.thanks.first }}</p>
  {% elsif page.thanks.size > 1 %}
  <div id="thanks">
  <p>Thanks to:</p>
  <ul>
    {% for person in page.thanks %}
    <li>{{ person }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}


  <hr />

  <p id="bottom-links"><a href="/">Home</a></p>

  {% if page.has_math %}

  {% comment %}
  Only include the MathJax Javascript if the post has math in it. The script is
  loaded from CDNJS in case it's already cached on the viewer's browser.
  {% endcomment %}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    async></script>
  {% endif %}
</body>
</html>
